* {
    background-color: rgb(247, 0, 255);
    background-image: url("fineArt.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: center;
}